name: pr

on:
  pull_request:
    branches:
      - master


jobs:
  pr-analysis:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Comment
        run: jq -r '.runs[].results[] | "::" + .level + " file=" + .locations[0].physicalLocation.artifactLocation.uri + ",line=" + (.locations[0].physicalLocation.region.startLine | tostring) + "::" + .message.text + " (" + .ruleId + ")"' ./analysis/analysis.sarif